<header ng-hide="ctrl.radiator">
  <div ng-show="ctrl.returnUrl" class="container-fluid">
    <div class="col-md-12">
      <a class="pull-right" ng-href="{{ctrl.returnUrl}}">{{ctrl.returnUrlLabel}}</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-md-2">
        <a ui-sref="frontPage" class="pull-left"><img src="images/nflow_logo.svg" alt="nFlow"></a>
      </div>
      <div class="col-md-1">
        <endpoint-selection class="pull-left"></endpoint-selection>
      </div>
      <div class="col-md-7 col-md-offset-2">
        <ul class="nav nav-pills pull-right">
          <li ng-class="{active: ctrl.isFrontPageTabActive()}"><a ui-sref="frontPage">Workflow definitions</a></li>
          <li ng-class="{active: ctrl.isSearchTabActive()}"><a ui-sref="search">Workflow instances</a></li>
          <li ng-class="{active: ctrl.isExecutorsTabActive()}"><a ui-sref="executors">Executors</a></li>
          <li ng-class="{active: ctrl.isAboutTabActive()}"><a ui-sref="about">About</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>
  </div>
</header>
