<div class="statistics-table">
  <table id="state-list" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2" class="numeric" title="Workflow instances created but not yet started executing">Created</th>
        <th colspan="2" class="numeric" title="Workflow instances started executing but not currently processing">In&nbsp;Progress</th>
        <th class="numeric" title="Workflow instances currently processing">Executing</th>
        <th class="numeric" title="Workflow instances waiting for manual processing (next activation: never)">Manual</th>
        <th class="numeric" title="Workflow instances finished (next activation: never)">Finished</th>
        <th class="numeric" title="All workflow instances">Total</th>
        <th></th>
        <!-- TODO total active -->
        <!-- TODO total passive -->
        <!-- TODO queued/late -->
      </tr>
      <tr>
        <th>Total</th>
        <th class="numeric">{{stats.stateStatisticsTotal.created.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: stats.stateStatisticsTotal.created.queuedInstances > 0}">{{stats.stateStatisticsTotal.created.queuedInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.inProgress.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: stats.stateStatisticsTotal.inProgress.queuedInstances > 0}">{{stats.stateStatisticsTotal.inProgress.queuedInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.executing.allInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.manual.allInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.finished.allInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.allInstances}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{highlight: isStateSelected(state)}" class="wd-state-{{state.id}} clickable"
          ng-repeat="state in definition.states" ng-click="selectNode(state.id)">
        <td title="{{state.description}}">{{state.id}}</td>
        <td class="numeric">{{stats.stateStatistics[state.id].created.allInstances | nullToZero}}</td>
        <td class="numeric" title="Waiting for a free executor">
            <span class="queued" ng-if="stats.stateStatistics[state.id].created.queuedInstances">{{stats.stateStatistics[state.id].created.queuedInstances}}</span></td>
        <td class="numeric">{{stats.stateStatistics[state.id].inProgress.allInstances | nullToZero}}</td>
        <td class="numeric" title="Waiting for a free executor">
            <span class="queued" ng-if="stats.stateStatistics[state.id].inProgress.queuedInstances > 0">{{stats.stateStatistics[state.id].inProgress.queuedInstances}}</span></td>
        <td class="numeric">{{stats.stateStatistics[state.id].executing.allInstances | nullToZero}}</td>
        <td class="numeric">{{stats.stateStatistics[state.id].manual.allInstances | nullToZero}}</td>
        <td class="numeric">{{stats.stateStatistics[state.id].finished.allInstances | nullToZero}}</td>
        <td class="numeric">{{stats.stateStatistics[state.id].allInstances | nullToZero}}</td>
        <td><a ui-sref="search({type: definition.type, state: state.id})">
          &#128269;</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th class="numeric">{{stats.stateStatisticsTotal.created.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: stats.stateStatisticsTotal.created.queuedInstances > 0}">{{stats.stateStatisticsTotal.created.queuedInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.inProgress.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: stats.stateStatisticsTotal.inProgress.queuedInstances > 0}">{{stats.stateStatisticsTotal.inProgress.queuedInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.executing.allInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.manual.allInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.finished.allInstances}}</th>
        <th class="numeric">{{stats.stateStatisticsTotal.allInstances}}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
