/** Styling for workflow graphs
workflow_definition.html / workflow.html
*/

.graph-background {
  fill: white;
  pointer-events: all;
}

/**
Node styles
-----------

*/
.node-normal, .node-manual, .node-start, .node-final {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  */
  stroke-width: 1.5px;
}

.node-normal {
  fill: white;
}
.node-start {
  fill: LightBlue;
}
.node-end {
 fill: LightGreen;
}
.node-error {
  fill: yellow;
}
.node-normal.selected, .node-manual.selected, .node-start.selected, .node-final.selected {
  stroke-width: 3px;
}

.node-active {
  stroke-width: 3px;
}

.node-active.selected {
  stroke-width: 4px;
}

.node-passive {
  fill: gray;
}

*/
/**
Edge styles
------------
Basic edge types are
- normal: normal transition
- error: error transition
- unexpected: any transition not part of workflow definition. Unexpected is always active.

Edges may be one of:
- <none>: with workflow definition
- passive: when transition has not been used by workflow instance
- active: when transition has been used by workflow instance

Edge may be also be selected.

So error edge, that has not been used and is selected is indicated like this

class="edge-error edge-passive selected"
*/
.edge-normal, .edge-error, .edge-unexpected {
  stroke-width: 1px;
  fill: none;
  stroke: black;
  marker-end: url(#arrowhead);
}

.edge-normal {
  stroke: black;
  marker-end: url(#arrowhead);
  fill: none;
}

.edge-error {
  stroke: black;
  stroke-dasharray: 5,5;
  marker-end: url(#arrowhead);
  fill: none;
}

.edge-unexpected {
  stroke: red;
  fill: none;
  marker-end: url(#arrowhead-red);
}

.edge-normal.edge-active, .edge-error.edge-active, .edge-unexpected.edge-active {
  stroke-width: 2px;
}

.edge-passive {
  stroke: gray;
  marker-end: url(#arrowhead-gray);
}

.edge-normal.selected, .edge-error.selected, .edge-unexpected.selected {
  stroke-width: 2px;
}

.edge-active.selected {
  stroke-width: 4px;
}

.edge-passive.selected {
  stroke: gray;
}


// retries
.retry-indicator {
  fill: orange;
  stroke: black;
  stroke-width: 1.5px
}
c
