.search-container {
  margin-bottom: var(--size-l);
}

.create-workflow-container {
  margin-bottom: var(--size-l);
  padding-bottom: var(--size-l);
}

.summary-container {
  padding-left: 24px !important;
}

.workflow-instance-search-criteria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}