<section class="wd-workflow-info">
  <table class="workflow-properties">
    <tr ng-if="ctrl.parentWorkflow">
      <td>Parent workflow</td>
      <td><a ui-sref="workflow({id: ctrl.parentWorkflow.id})">{{ctrl.parentWorkflow.type}} ({{ctrl.parentWorkflow.id}})</a></td>
    </tr>
    <tr ng-if="ctrl.childWorkflows.length">
      <td>Child workflows</td>
      <td><a ui-sref="search({parentWorkflowId: ctrl.workflow.id})">{{ctrl.childWorkflows.length}}</a></td>
    </tr>
    <tr title="{{ctrl.workflow.stateText}}">
      <td>Current state</td>
      <td>
        <a class="wd-active-state clickable" ng-click="ctrl.selectAction(ctrl.workflow.state)">{{ctrl.workflow.state}}</a>
      </td>
    </tr>
    <tr>
      <td>Current status</td>
      <td>{{ctrl.workflow.status}}<br/>
    </tr>
    <tr title={{ctrl.workflow.nextActivation}}>
      <td>Next activation</td>
      <td>{{ctrl.workflow.nextActivation | fromNowOrNever}}</td>
    </tr>
    <tr ng-if="ctrl.workflow.businessKey">
      <td>Business key</td>
      <td><code>{{ctrl.workflow.businessKey}}</code></td>
    </tr>
    <tr ng-if="ctrl.workflow.externalId">
      <td>External id</td>
      <td><code>{{ctrl.workflow.externalId}}</code></td>
    </tr>
    <tr ng-if="ctrl.workflow.signal" title="See supported signals tab in workflow definition">
      <td>Current signal</td>
      <td>{{ctrl.workflow.signal}}</td>
    </tr>
    <tr ng-if="!!ctrl.workflow.priority" title="High value means high priority">
      <td>Priority</td>
      <td>{{ctrl.workflow.priority}}</td>
    </tr>
    <tr title="{{ctrl.workflow.created | fromNow}}">
      <td>Created</td>
      <td>{{ctrl.workflow.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
    <tr ng-if="ctrl.workflow.started" title="{{ctrl.workflow.started | fromNow}}">
      <td>Started</td>
      <td>{{ctrl.workflow.started | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
    <tr title="{{ctrl.workflow.modified | fromNow}}">
      <td>Modified</td>
      <td>{{ctrl.workflow.modified | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
  </table>
  <custom-content func="ctrl.contentGenerator(ctrl.definition, ctrl.workflow, ctrl.parentWorkflow, ctrl.childWorkflows)"></custom-content>
</section>
