<div>
  <h2>Workflow definitions</h2>
  <div class="alert alert-info" role="alert" ng-hide="ctrl.definitions.length">
    No workflow definitions registered
  </div>
  <table st-table="displayedDefinitions" st-safe-src="ctrl.definitions" id="workflowDefinitionsList" class="table table-striped table-hover" ng-show="ctrl.definitions.length">
    <thead>
      <tr>
        <th st-sort="type">Type</th>
        <th st-sort="description">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable" ng-repeat="definition in displayedDefinitions" ng-click="showDefinition(definition.type)">
        <td>{{definition.type}}</td>
        <td ng-show="definition.description">{{definition.description}}</td>
        <td ng-hide="definition.description"><i>No description</i></td>
      </tr>
    </tbody>
  </table>
</div>
