<div>
  <h2>Workflows</h2>
  <div class="alert alert-info" role="alert" ng-hide="ctrl.results.length">
    No workflow instances found
  </div>
  <table st-table="displayedResults" st-safe-src="ctrl.results" ng-show="ctrl.results.length" id="search-result" class="table table-striped table-hover">
    <thead>
      <tr class="clickable-header">
        <th st-sort="id">Id</th>
        <th st-sort="type">Workflow type</th>
        <th st-sort="{{col}}" ng-repeat="col in ctrl.columns">{{col.label ? col.label : col.field}}</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in displayedResults" ng-class="ctrl.getStateClass(result)">
      <td><a ui-sref="workflow({id: result.id})">{{result.id}}</a></td>
      <td><a ui-sref="workflow({id: result.id})">{{result.type}}</a></td>

      <td ng-repeat="col in ctrl.columns">
        <span ng-show="ctrl.isStateVariableField(col.field)">
          {{ctrl.formatStateVariable(col.field, result)}}
        </span>
        <span ng-show="col.type === 'timestamp'" title="{{result[col.field] | fromNowOrNever}}">
          {{result[col.field] | date:'yyyy-MM-dd HH:mm:ss'}}
        </span>
        <span ng-show="!ctrl.isStateVariableField(col.field) && !col.type">
          {{result[col.field]}}
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
