<div class="statistics-table">
  <table id="state-list" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2" class="numeric" title="Workflow instances created but not yet started executing">Created</th>
        <th colspan="2" class="numeric" title="Workflow instances started executing but not currently processing">In&nbsp;Progress</th>
        <th class="numeric" title="Workflow instances currently processing">Executing</th>
        <th class="numeric" title="Workflow instances waiting for manual processing (next activation: never)">Manual</th>
        <th class="numeric" title="Workflow instances paused (may be resumed, next activation: never)">Paused</th>
        <th class="numeric" title="Workflow instances stopped (may not be resumed, next activation: never)">Stopped</th>
        <th class="numeric" title="Workflow instances finished (next activation: never)">Finished</th>
        <th class="numeric" title="All workflow instances">Total</th>
        <th></th>
        <!-- TODO total active -->
        <!-- TODO total passive -->
        <!-- TODO queued/late -->
      </tr>
      <tr>
        <th>Total</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.created.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: ctrl.definition.stateStatisticsTotal.created.queuedInstances > 0}">{{ctrl.definition.stateStatisticsTotal.created.queuedInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.inProgress.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: ctrl.definition.stateStatisticsTotal.inProgress.queuedInstances > 0}">{{ctrl.definition.stateStatisticsTotal.inProgress.queuedInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.executing.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.manual.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.paused.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.stopped.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.finished.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.allInstances}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{highlight: ctrl.isStateSelected(state)}" class="wd-state-{{state.name}}"
          ng-repeat="state in ctrl.definition.states" ng-click="ctrl.selectNode(state.id)">
        <td title="{{state.description}}">{{state.name}}</td>
        <td class="numeric">{{state.stateStatistics.created.allInstances | nullToZero}}</td>
        <td class="numeric" title="Waiting for a free executor">
            <span class="queued" ng-if="state.stateStatistics.created.queuedInstances">{{state.stateStatistics.created.queuedInstances}}</span></td>
        <td class="numeric">{{state.stateStatistics.inProgress.allInstances | nullToZero}}</td>
        <td class="numeric" title="Waiting for a free executor">
            <span class="queued" ng-if="state.stateStatistics.inProgress.queuedInstances > 0">{{state.stateStatistics.inProgress.queuedInstances}}</span></td>
        <td class="numeric">{{state.stateStatistics.executing.allInstances | nullToZero}}</td>
        <td class="numeric">{{state.stateStatistics.manual.allInstances | nullToZero}}</td>
        <th class="numeric">{{state.stateStatistics.paused.allInstances | nullToZero}}</th>
        <th class="numeric">{{state.stateStatistics.stopped.allInstances | nullToZero}}</th>
        <td class="numeric">{{state.stateStatistics.finished.allInstances | nullToZero}}</td>
        <td class="numeric">{{state.stateStatistics.allInstances | nullToZero}}</td>
        <td><a ui-sref="search({type: ctrl.definition.type, state: state.name})">
          <span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.created.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: ctrl.definition.stateStatisticsTotal.created.queuedInstances > 0}">{{ctrl.definition.stateStatisticsTotal.created.queuedInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.inProgress.allInstances}}</th>
        <th class="numeric" title="Waiting for a free executor"
            ng-class="{queued: ctrl.definition.stateStatisticsTotal.inProgress.queuedInstances > 0}">{{ctrl.definition.stateStatisticsTotal.inProgress.queuedInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.executing.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.manual.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.paused.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.stopped.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.finished.allInstances}}</th>
        <th class="numeric">{{ctrl.definition.stateStatisticsTotal.allInstances}}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
