<div>
  <form class="form" role="form">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-3">
          <label for="type">Workflow type</label>
          <select id="type" class="form-control" ng-model="ctrl.model.definition" ng-options="def.type for def in ctrl.definitions track by def.type" ng-change="ctrl.onTypeChange()">
            <option value="">-- All workflow types --</option>
          </select>
        </div>
        <div class="col-xs-3">
          <label for="state">Workflow state</label>
          <select id="state" class="form-control" ng-model="ctrl.model.state" ng-options="state.id for state in ctrl.model.definition.states track by state.id">
            <option value="">-- All states --</option>
          </select>
        </div>
        <div class="col-xs-3">
          <label for="status">Workflow status</label>
          <select id="status" class="form-control" ng-model="ctrl.model.status" ng-options="status for status in ctrl.instanceStatuses track by status">
            <option value="">-- All statuses --</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <label for="id">Workflow instance id</label>
          <input name="id" type="number" ng-model="ctrl.model.id" empty-to-null class="form-control" />
        </div>

        <div class="col-xs-3">
          <label for="businessKey">Business key</label>
          <input name="businessKey" type="text" ng-model="ctrl.model.businessKey" empty-to-null class="form-control"/>
        </div>

        <div class="col-xs-3">
          <label for="externalId">External id</label>
          <input name="externalId" type="text" ng-model="ctrl.model.externalId" empty-to-null class="form-control" />
        </div>
      </div>
    </div>
    <button class="btn btn-default" ng-click="ctrl.search()">Search</button> <img ng-show="ctrl.showIndicator" src="images/spinner.gif">
  </form>

</div>
