<h2>nFlow Explorer</h2>
<p>See <a href="http://nflow.io/">nflow.io</a> for more details about nFlow.</p>
<p>For support, please send a message to nFlow <a href="https://groups.google.com/forum/#!forum/nflow-users">mailing list</a>.</p>

<h3>Settings</h3>
<p>This nFlow Explorer uses the nFlow API running at <strong><a href="{{nflowUrl()}}">{{nflowUrl()}}</a></strong>.</p>
<p>There may be API documentation available at <strong><a href="{{nflowApiDocs()}}">{{nflowApiDocs()}}</a></strong>.</p>

<p>
  nFlow Explorer uses following components:
  <ul>
    <li><a href="http://glyphicons.com/">Glyphicons</a></li>
  </ul>
</p>
