<h2>nFlow UI</h2>
<p>
	See <a href="http://nflow.io/">nflow.io</a> for more details.
</p>
<p>
	<a href="https://groups.google.com/forum/#!forum/nflow-users">Mailing list</a> exists for the support.
</p>

<h3>Settings</h3>

<p>
    This app connects to nFlow server at <strong><a href="{{nflowUrl()}}">{{nflowUrl()}}</a></strong>. There may be api docs available at
    <strong><a href="{{nflowApiDocs()}}">{{nflowApiDocs()}}</a></strong>.
</p>

<p>
    nFlow UI uses following components:
    <ul>
        <li><a href="http://glyphicons.com/">Glyphicons</a></li>
    </ul>

</p>
