<h2>Radiator {{type}}</h2>
<div class="row">
  <div class="col-md-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-center">
          <h3>States</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="stateChart"></div>
        </div>
        <div class="col-md-4">
          <div id="stateChartLegend"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Execution phases</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="executionChart"></div>
        </div>
        <div class="col-md-4">
          <div id="executionChartLegend"></div>
        </div>
      </div>
    </div>
  </div>
</div>
