<div class="row">
  <div class="col-md-6">
    <h2>{{definition.type}} ({{workflow.id}})</h2>
    <blockquote ng-show="definition.description">{{definition.description}}</blockquote>
    <ul class="listing">
      <li><a href="#/workflow-definition/{{workflow.type}}">Go to workflow definition</a></li>
    </ul>
    Created: <strong title="{{workflow.created | date:'medium' }}">{{workflow.created | fromNow}}</strong><br/>
    Started: <strong title="{{workflow.started | date:'medium' }}">{{workflow.started | fromNow}}</strong><br/>
    Current state: <strong ng-click="selectAction(workflow.state)">{{workflow.state}}</strong>
    <span ng-show="workflow.stateText">({{workflow.stateText}})</span>
    since <strong title="{{currentStateTime() | date:'medium' }}">{{currentStateTime() | fromNowOrNever}}</strong><br/>
    Current status: <strong>{{workflow.status}}</strong><br/>
    Next activation: <strong title={{workflow.nextActivation}}>{{workflow.nextActivation | fromNowOrNever}}</strong>
    <div>Workflow id:<strong>{{workflow.id}}</strong></div>
    <div ng-show="workflow.businessKey">Business key: <code>{{workflow.businessKey}}</code></diV>
    <div ng-show="workflow.externalId">External id: <code>{{workflow.externalId}}</code></diV>
    <div class="svg-container">
      <svg id="workflowSvg"/>
    </div>
  </div>
  <div class="col-md-6">
    <tabset>
      <tab heading="Action history">
        <table id="action-history" class="table table-striped table-hover">
          <thead>
            <th>No</th>
            <th>State</th>
            <th>Description</th>
            <th>Retries</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Duration</th>
          </thead>
          <tbody>
            <tr ng-repeat="action in workflow.actions | reverse" >
              <td class="{{getClass(action)}}">{{workflow.actions.length - $index}}</td>
              <td class="{{getClass(action)}}" ng-click="selectAction(action)">{{action.state}}</td>
              <td class="{{getClass(action)}}" ng-click="selectAction(action)">{{action.stateText}}</td>
              <td class="{{getClass(action)}}">{{action.retryNo}}</td>
              <td class="{{getClass(action)}}">{{action.executionStartTime | date:'medium'}}</td>
              <td class="{{getClass(action)}}">{{action.executionEndTime | date:'medium'}}</td>
              <td class="{{getClass(action)}}">{{duration(action)}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="State variables" >
        <table class="table table-striped table-hover">
          <thead>
            <tr><th>Variable</th><th>Value</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in workflow.stateVariables">
              <td>{{key}}</td>
              <td><pre>{{value | prettyPrintJson}}</pre></td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Manage">
        <form class="form-horizontal with-padding" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label" for="nextState">Set state to</label>
            <div class="col-md-9">
              <select class="selectwidthauto form-control" id="nextState" ng-model="manage.nextState" ng-options="state.name for state in definition.states">
                <option value="">-- Keep current state --</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="duration">Next activation in</label>
            <div class="col-md-3">
              <input class="form-control" id="duration" type="number" ng-model="manage.duration"/>
            </div>
            <div class="col-md-6">
              <select class="selectwidthauto form-control" id="timeUnit" ng-model="manage.timeUnit" ng-options="timeUnit for timeUnit in manage.timeUnits">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="actionDescription">Action description</label>
            <div class="col-md-9">
              <input class="form-control" id="actionDescription" ng-model="manage.actionDescription"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button class="selectwidthauto btn btn-default" ng-click="updateWorkflow(manage)">Update</button>
              <button class="selectwidthauto btn" ng-click="pauseWorkflow(manage)" ng-disabled="workflow.nextActivation === undefined || workflow.status === 'paused'">Pause</button>
              <button class="selectwidthauto btn" ng-click="resumeWorkflow(manage)" ng-disabled="workflow.status != 'paused'">Resume</button>
              <button class="selectwidthauto btn" ng-click="stopWorkflow(manage)" ng-disabled="workflow.nextActivation === undefined">Stop</button>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>
