
<h1>{{workflow.type}}</h1>
<blockquote>{{workflow.description}}</blockquote>

<button ng-click="savePng()" class="btn">Save as PNG</button>
<button ng-click="saveSvg()" class="btn">Save as SVG</button>
<svg id="dagreSvg" width="650" height="680">
</svg>
<!--
<canvas id="dagreCanvas" width="650" height="680"></canvas>
-->


<h2>States</h2>

<ul id="state-list">
   <!-- {{state}} -->
    <li class="{{state.selected}}" ng-repeat="state in workflow.states"
        ng-click="nodeSelected(state.id)">
        {{state.name}} - {{state.description}}
    </li>
</ul>
